DOWNLOAD_MODE=minimum

ROCM_REPO="[ROCm-7.1.1]
name=ROCm7.1.1
baseurl=https://repo.radeon.com/rocm/el9/7.1.1/main
enabled=1
priority=50
gpgcheck=1
gpgkey=https://repo.radeon.com/rocm/rocm.gpg.key"

GRAPHICS_REPO="[graphics]
name=graphics
baseurl=https://repo.radeon.com/graphics/7.1.1/el/9.6/main/x86_64/
enabled=1
priority=50
gpgcheck=1
gpgkey=https://repo.radeon.com/rocm/rocm.gpg.key"

AMDGPU_REPO="[amdgpu]
name=amdgpu
baseurl=https://repo.radeon.com/amdgpu/30.20.1/el/9.6/main/x86_64/
enabled=1
priority=50
gpgcheck=1
gpgkey=https://repo.radeon.com/rocm/rocm.gpg.key"
